<div>
  <input type="text" (keyup.enter)="add(courseName)" #courseName/>
  <ul>
    <li *ngFor="let course of courses$ | async">{{course | json}}
      <button (click)="update(course)">Update</button>
    </li>
  </ul>
  <button (click)="ngOnDestroy()">Go Offline</button><br>
  <div>
    {{course$ | async| json}}
  </div>
  <div>
    {{author$ | async| json}}
  </div>
  <div>
    <ul *ngIf="author$ | async as author">
      <li>{{author.name}}</li>
      <li>{{author.students}}</li>
      <li>{{author.isPremium}}</li>
    </ul>
  </div>
</div>